{%load static%}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'storys/style.css'%}">
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>{%block title%}Главная{%endblock%}</title>
</head>
<body>
	<header>
		<h1>Объявления</h1>
	</header>
	<nav>
		<a href="{% url 'index'%}">Главная</a>
		<a href="{% url 'search'%}">Искать</a>
		<a href="{% url 'password_change'%}">Сменить пороль</a>
		<a href="{% url 'logout'%}">Выйти</a>
		{% if user.is_authenticated %}
		{%else%}
		<a href="{% url 'login'%}">Войти</a>
		<a href="{% url 'social:begin' 'vk-oauth2'%}">Войти через ВК</a>
		{%endif%}
		{% if perms.storys.add_bb %}
		<a href="{%url 'add'%}">Добавить</a>
		<a href="{%url 'media'%}">Добавить изображение</a>
		<a href="{% url 'rubrics'%}">Рубрики</a>
		{%endif%}
		{% for rubric in rubrics%}
		<a href="{% url 'by_rubric' rubric.pk %}">
		{{rubric.name}}</a>
		{%endfor%}
	</nav>
	<section>

		{%block content%}
		{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %} class="{{ message.tags }}"{% endif%}>
			{{ message }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}	
		{%endblock%}
		
	</section>

</body>
</html>
